
@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["CadastroNotOK"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["CadastroNotOK"]
    </div>
}
    <br />

<h2>Cadastrar</h2>


<form action="/RHOnline/Home/Cadastrar" method="post">

    <input type="hidden" name="id" value="@ViewBag.User.Id" />

    <div class="form-row">

        <div class="form-group col-md-7">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" class="form-control" value="@ViewBag.User.Nome" disabled />
        </div>

        <div class="form-group col-md-5">
            <label for="cpf">CPF: </label>
            <input type="text" name="cpf" value="@ViewBag.User.CPF" class="form-control" disabled />
        </div>

    </div>

    <div class="form-row">


        <div class="form-group col-md-6">
            <label for="loja">Loja: </label>
            <input type="text" name="loja" value="@ViewBag.User.Loja.Nome" class="form-control" disabled />
        </div>

        <div class="form-group col-md-6">
            <label for="setor">Setor: </label>
            <input type="text" name="setor" value="@ViewBag.User.Setor.Nome" class="form-control" disabled />
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-8">
            <label for="email">E-mail: </label>
            <input type="email" id="email" name="email" value="@ViewBag.User.Email" class="form-control" />
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="telefone">Telefone: </label>
            <input type="tel" id="telefone" name="telefone" value="@ViewBag.User.Telefone" onkeyup="mascara(this, mtel);" title="Digite somente números" placeholder="(__) ____-____" class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="celular">Celular: </label>
            <input type="tel" id="celular" name="celular" value="@ViewBag.User.Celular" onkeyup="mascara(this, mtel);" title="Digite somente números" placeholder="(__) _____-____" class="form-control" />
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="senha">Senha: </label>
            <input type="password" id="senha" name="senha" class="form-control" value="@ViewBag.User.Senha" aria-describedby="requisitosSenha" required />
            <small id="requisitosSenha" class="form-text text-muted">
                A senha deve conter entre 8 e 20 caracteres, contendo letra maiúscula, minúscula e números.
            </small>
        </div>

        <div class="form-group col-md-6">
            <label for="confirmasenha">Confirme sua Senha: </label>
            <input type="password" id="confirmasenha" name="confirmasenha" value="" class="form-control" required />
        </div>

        @if (TempData["SenhaNaoValidada"] != null)
        {
            <div>
                <font color="red"><b>@TempData["SenhaNaoValidada"]</b></font>
            </div>
        }

        <br />
    </div>

    <div class="form-group">

        <div id="spinner" style="display:none">
            <button type="submit" class="btn btn-primary">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Enviando...
            </button>
        </div>

        <button type="submit" id="btnEnviar" onclick="return mostrarSpinner();" class="btn btn-primary">Enviar</button>
        <button type="reset" class="btn btn-secondary">Limpar Tela</button>

    </div>

</form>

<script type="text/javascript">
    
    function validaCampos() {
        
        var email = document.getElementById("email").value;
        var telefone = document.getElementById("telefone").value;
        var celular = document.getElementById("celular").value;
        var senha = document.getElementById("senha").value;
        var confirmasenha = document.getElementById("confirmasenha").value;
        
        if (email != "" && email != null) {
            
            if (telefone != "" && telefone != null) {
                
                if (celular != "" && celular != null) {
                    
                    if (senha != "" && senha != null) {
                        
                        if (confirmasenha != "" && confirmasenha != null) {
                            
                            return true;
                            
                        }
                    }
                }
            }
        }

        return false;

    }
    
    function mostrarSpinner() {

        var validacao = validaCampos();
        
        if (validacao) {

            $('#spinner').css('display', 'initial');
            $('#btnEnviar').hide();

        }
    }

</script>



