
@{
    ViewData["Title"] = "Trocar Senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TrocarSenha</h2>


@if (TempData["TrocaSenhaNotOK"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["TrocaSenhaNotOK"]
    </div>
}

<br />
<form method="post" action="/RHOnline/Home/TrocarSenha" style="width:50%">

    <input type="hidden" name="id" value="@ViewBag.IdSenha" />

    <div class="form-row">

        <!--Nome-->
        <div class="form-group col-md-auto">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" value="@ViewBag.Nome" disabled />
            <input type="hidden" name="nome" id="nome" value="@ViewBag.Nome" />
        </div>

    </div>

    <div class="form-row">

        <!--Email-->
        <div class="form-group col-md-auto">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" value="@ViewBag.Email" disabled />
            <input type="hidden" name="email" id="email" value="@ViewBag.Email" />
        </div>

    </div>

    <div class="form-row">

        <!--CPF-->
        <div class="form-group col-md-auto">
            <label for="cpf">Confirme seu CPF: </label>
            <input type="text" name="cpf" id="cpf" placeholder="___.___.___-__" class="form-control" value="@ViewBag.CPF" required />

            @if (TempData["CPFErro"] != null)
            {
                <div>
                    <font color="red"><b>@TempData["CPFErro"]</b></font>
                </div>
            }

        </div>

    </div>

    <div class="form-row">

        <!--Senha-->

        <div class="form-group col-md-6">
            <label for="senha">Senha</label>
            <input type="password" name="senha" class="form-control" id="senha" value="@ViewBag.Senha" placeholder="" required>
            <small id="requisitosSenha" class="form-text text-muted">
                A senha deve conter entre 8 e 20 caracteres, contendo letra maiúscula, minúscula e números.
            </small>
        </div>

        <!--Confirmar Senha-->
        <div class="form-group col-md-6">
            <label for="confirmasenha">Confime a Senha</label>
            <input type="password" name="confirmasenha" class="form-control" id="confirmasenha" value=""
                   onkeydown="return document.getElementById('conferencia').hidden = true;" required>
        </div>

        @if (TempData["SenhaNaoValidada"] != null)
        {
            <div class="destaque-vermelho">
                @TempData["SenhaNaoValidada"]
            </div>
        }

        <br />

    </div>

    <div class="form-group">

        <button type="submit" class="btn btn-primary" id="botaoenviar">Enviar</button>
        <button type="reset" class="btn btn-primary" id="botaoenviar">Limpar Tela</button>

    </div>

</form>